/* .radioButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
} */

.focusedRadioButton {
  box-shadow: 0 0 0 4px #000;
  outline: solid 2px #fff;
}

.radioStyleOverride {
  opacity: 0;
  margin: 0;
}

.errorOuterBackgroundColor {
  background-color: var(--color-base-destructive-700);
}

.errorBorderColor {
  border-color: var(--color-base-destructive-700);
}

.borderColor {
  border-color: var(--color-base-primary-700);
}

.borderUnchecked {
  border-width: 2px;
}

.borderCheckedSm {
  border-width: 10px;
}

.borderCheckedMd {
  border-width: 14px;
}

.radioButton {
  border-radius: 50%;
  border-style: solid;
  display: block flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* unchecked ------------------  */
.background {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid;
}

.sm {
  height: 16px;
  width: 16px;
}

.md {
  height: 24px;
  width: 24px;
}
